/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  /*background-color: #4158d0;
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);*/
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.5s ease;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Animations */
@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  40% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-6px);
  }
  70% {
    opacity: 1;

    transform: translateY(0);
  }
  85% {
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Making my nav header */
header {
  background: #f5f5f5;
  position: relative;
  transition: 0.5s;
}
.nav-container {
  width: 97%;
  height: auto;
  margin: auto;
  height: 79.8px;
}
#logo {
  width: 5%;
  position: relative;
  top: 6px;
  left: 30px;
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  transition: 0.5s;
}
nav {
  float: right;
  opacity: 0;
  animation: fadeBounce 1s forwards;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation li {
  list-style-image: none;
  margin: 0 23px;
  transition: 0.5ms;
  float: left;
  margin-top: 23px;
}
.navigation li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  color: #111;
  text-transform: uppercase;
  transition: 0.5s;
}
.navigation:hover li a {
  /*transform: scale(1.4);*/
  opacity: 0.3;
  /*filter: blur(5px);*/
}
.navigation li a:hover {
  transform: scale(1.4);
  opacity: 1;
  filter: blur(0);
}
.navigation li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #D2042D;
  z-index: -1;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation li a:hover::before {
  transition: transform 0.5s;
  transform-origin: bottom left;
  transform: scaleX(1);
}
/* Image slider for main content of Home page */
.image-sliders
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
}
.image-sliders .slides
{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: inset(0 100% 0 0);
    
}
.image-sliders .slides.active
{
    clip-path: inset(0 0 0 0);
    transition: 2.3s ease;
    transition-property: clip-path;
}
.image-sliders .slides img
{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: 1;

}
.image-sliders .button-navigation
{
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.image-sliders .button-navigation .buttons
{
    margin: 10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #999;
}
.image-sliders .button-navigation .buttons.active{
    background: #111;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}
/* About Us Home Page */
.about{
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}
.about img{
  height: auto;
  width: 320px;
}
.about-text
{
  width: 600px;

}
.about-container
{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1{
  color: white;
  font-size: 70px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text p
{
  color: #D2042D;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 45px;
}
/* Footer for website */
.footerstart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footer-container .section {
  margin-right: 30px;
}
footer .footer-container .section.subscribe {
  width: 20%;
}
.hidden-label {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
}
input[type="email"]
{
  width: 95%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
}
input[type="submit"]
{
  width: 50%;
  display: block;
  box-sizing: border-box;
  background-color: #D2042D;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
#nameError {
  display: none;
  font-size: 0.8em;
}

#nameError.visible {
  display: block;
}

input.invalid {
  border-color: red;
}
footer .footer-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}

footer p,
footer span,
footer li a {
  color: #999;
  list-style: none;
  text-decoration: none;
}

.socialmedia {
  margin-top: 20px;
  display: flex;
}
.socialmedia li {
  list-style: none;
}
.socialmedia li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #7e7e7e;
}

.socialmedia li a:hover {
  background-color: #fff;
}

.socialmedia li a .fa-brands {
  color: #111;
  font-size: 20px;
}
.socialmedia li a .fa-brands.fa-instagram {
  font-weight: bolder;
}
.quicklinks {
  position: relative;
  width: 25;
}
.quicklinks ul li {
  list-style: none;
}
.quicklinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks ul li a:hover,
.contact .contactinfo li a:hover {
  color: #fff;
}
.contact {
  width: (35% - 60px);
  margin-right: 0 !important;
}
.contact .contactinfo {
  position: relative;
}
.contact .contactinfo li {
  display: flex;
  margin-bottom: 16px;
}
.contact .contactinfo li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.copyright {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .footer-container {
    flex-direction: column;
  }
  .footer .footer-container .section {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .footer-container .section.subscribe,
  .quicklinks {
    width: 100%;
  }
  .copyright {
    padding: 8px 40px;
  }
}