/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 0.5s ease;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Animations */
@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  40% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-6px);
  }
  70% {
    opacity: 1;

    transform: translateY(0);
  }
  85% {
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rainbow-colors {
  0% {
    color: hsl(197, 97%, 66%, 1);
  }
  25% {
    color: hsl(0, 100%, 100%, 1);
  }
  50% {
    color: hsl(348, 83%, 81%, 1);
  }
  75% {
    color: hsl(0.75turn, 90%, 65%);
  }
  100% {
    color: hsl(1turn, 90%, 65%);
  }
}
@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Making my nav header Start*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  position: relative;
  transition: 0.5s;
}
.nav-container {
  width: 97%;
  height: auto;
  margin: auto;
  height: 12vh;
}
#logo {
  width: 4em;
  position: relative;
  top: 6px;
  left: 30px;
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  transition: 0.5s;
}
nav {
  float: right;
  opacity: 0;
  animation: fadeBounce 1s forwards;
}
.navigation ul {
  display: flex;
  float: right;
  margin-right: 20px;
}
.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.navigation li {
  display: inline-block;
  list-style-image: none;
  margin: 0 25px;
  transition: 0.5ms;
  margin-top: 23px;
}
.navigation li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  color: #111;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.navigation:hover li a {
  /*transform: scale(1.4);*/
  opacity: 0.3;
  /*filter: blur(5px);*/
}
.navigation li a:hover {
  backface-visibility: hidden;
  transform: scale(1.4);
  opacity: 1;
  filter: blur(0);
}
.navigation li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d2042d;
  z-index: -1;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.navigation li a:hover::before {
  transition: transform 0.5s;
  transform-origin: bottom left;
  transform: scaleX(1);
}
/* Making my nav header End*/
/* Dropdown menu hidden Start*/
.navigation-hidden {
  display: none;
  position: absolute;
  top: 14px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.5s;
  z-index: 100;
  border-radius: 5px;
  overflow: hidden;
}
.navigation-hidden.actives {
  width: 250px;
  height: 300px;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.5s;
}
.navigation-hidden .toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  cursor: pointer;
}
.navigation-hidden .toggle.actives {
  background-color: #d2042d;
}
.navigation-hidden .toggle::before {
  position: absolute;
  content: "+";
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #fff;
  transition: 0.5s;
  right: 0;
}
.navigation-hidden .toggle.actives::before {
  transform: rotate(315deg);
  right: 0;
}
.navigation-hidden ul {
  position: absolute;
  left: 0;
  width: 100%;
}
.navigation-hidden ul li {
  list-style: none;
  position: relative;
  width: 100%;
}
.navigation-hidden ul li:hover {
  background-color: #f5f5f5;
}
.navigation-hidden ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #111;
}
.navigation-hidden ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.navigation-hidden ul li a .icon .fa {
  color: #111;
  font-size: 20px;
  font-weight: 600;
}
.navigation-hidden ul li a .hidden-link {
  position: relative;
  display: block;
  padding: 0 10px;
  line-height: 50px;
  height: 50px;
  text-align: start;
  white-space: nowrap;
  text-transform: capitalize;
}
.navigation-hidden ul li:hover a .icon .fa,
.navigation-hidden ul li:hover a .hidden-link {
  color: #111;
}
@media (max-width: 830px) {
  .nav-container .navigation {
    display: none;
  }
  .navigation-hidden {
    display: unset;
    position: absolute;
  }
}
/* Dropdown menu hidden End*/
/* Image slider for main content (Home page) Start */
.image-sliders {
  position: relative;
  max-width: 100%;
  height: 100vh;
  background: #111;
}
.image-sliders .slides {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  clip-path: inset(0 100% 0 0);
}
.image-sliders .slides.active {
  clip-path: inset(0 0 0 0);
  transition: 2.3s ease;
  transition-property: clip-path;
}
.image-sliders .slides img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.image-sliders .button-navigation {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.image-sliders .button-navigation .buttons {
  margin: 10px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #999;
}
.image-sliders .button-navigation .buttons.active {
  background: #d2042d;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}
@media (max-width: 1024px) {
  .image-sliders .slides img {
    display: grid;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }
}
/* Image slider for main content (Home page) End */
/* About Us (Home Page) Start */
article .about {
  width: 100%;
  padding: 78px 0px;
  background-color: #181818;
  overflow: hidden;
}
.about img {
  height: auto;
  width: 320px;
}
.about-text {
  width: 600px;
  overflow: hidden;
}
.about-container {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1 {
  color: #fff;
  font-size: 70px;
  text-transform: capitalize;
  margin-bottom: 20px;
  transition: color 0.2s ease-in-out;
  animation: rainbow-colors 5s linear alternate-reverse infinite;
}
.about-text p {
  color: #d2042d;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
  }
  .about img {
    width: 200px;
    align-self: center;
  }
  .about-text h1 {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .about img {
    width: 150px;
  }

  .about-text h1 {
    font-size: 60px;
  }
  .about-text p {
    font-size: 16px;
    width: 65%;
    height: auto;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .about img {
    width: 100px;
  }
  .about-text h1 {
    font-size: 50px;
  }
  .about-text p {
    text-align: center;
    font-size: 12px;
    width: 45%;
    height: auto;
    margin: auto;
  }
}
/* About Us (Home Page) End */
/* Footer for website Start*/
.footerstart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footer-container .section {
  margin-right: 30px;
}
footer .footer-container .section.subscribe {
  width: 20%;
}
.subscribe input[type="email"] {
  width: 95%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
}
.subscribe input[type="submit"] {
  width: 50%;
  display: block;
  box-sizing: border-box;
  background-color: #d2042d;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
footer .footer-container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
footer p,
footer span,
footer li a {
  color: #999;
  list-style: none;
  text-decoration: none;
}

.socialmedia {
  margin-top: 20px;
  display: flex;
}
.socialmedia li {
  list-style: none;
}
.socialmedia li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #7e7e7e;
}
.socialmedia li a:hover {
  background-color: #fff;
}

.socialmedia li a .fa-brands {
  color: #111;
  font-size: 20px;
}
.socialmedia li a .fa-brands.fa-instagram {
  font-weight: bolder;
}
.quicklinks ul li {
  list-style: none;
}
.quicklinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks ul li a:hover,
.contact .contactinfo li a:hover {
  color: #fff;
}
.contact {
  margin-right: 0 !important;
}
.contact .contactinfo {
  position: relative;
}
.contact .contactinfo li {
  display: flex;
  margin-bottom: 15px;
}
.contact .contactinfo li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.copyright {
  width: 100%;
  background: #181818;
  color: #999;
  padding: 8px 100px;
  text-align: center;
}
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .footer-container {
    flex-direction: column;
  }
  .footer .footer-container .section {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .footer-container .section.subscribe,
  .quicklinks {
    width: 100%;
  }
  .copyright {
    padding: 8px 40px;
  }
}
/* Footer for website End*/
/* Making Sign In (Login Page) Start*/
.signin-main {
  background-color: #191919;
}
.userinput {
  position: relative;
  display: flex;
  height: 110vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 1s ease;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: fadeBounce 1s forwards;
}
.userinput .formcontainer {
  position: relative;
  background-color: #999;
  width: 70%;
  height: 550px;
  overflow: hidden;
  border-radius: 5px;
}
.userinput .formcontainer .user {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.userinput .formcontainer .user .imgbox {
  position: relative;
  width: 50%;
  height: 100%;
}
.userinput .formcontainer .user .imgbox img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.userinput .formcontainer .user .formbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #fff;
  padding: 40px;
  transition: 0.5s ease;
}
.userinput .formcontainer .user .formbox h2 {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  color: #555;
}
.userinput .formcontainer .user .formbox .signin-text {
  position: relative;
  bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  color: #555;
}
section .formcontainer .user .formbox input {
  width: 100%;
  padding: 15px;
  background-color: #f5f5f5;
  color: #555;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  font-size: 14px;
  margin: 9px 0;
  letter-spacing: 1px;
  font-weight: 300;
}
section .formcontainer .user .formbox input[type="submit"] {
  max-width: 100px;
  background: #181818;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}
section .formcontainer .user.signupbox .formbox input[type="submit"] {
  background: #181818;
}
section .formcontainer .user .formbox .signup {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 450;
}
section .formcontainer .user .formbox .signup-policy a,
section .formcontainer .user .formbox .signup a {
  font-weight: 600;
  font-size: 16px;
  color: #181818;
}
section .formcontainer .user .formbox .signup a {
  text-decoration: none;
}
.userinput .formcontainer .signupbox {
  pointer-events: none;
}
.userinput .formcontainer.formcontainer.active .signupbox {
  pointer-events: initial;
}
.userinput .formcontainer .signupbox .formbox {
  top: 100%;
}
.userinput .formcontainer.active .signupbox .formbox {
  top: 0;
}
.userinput .formcontainer .signupbox .imgbox {
  transition: 0.5s ease;
  top: -100%;
}
.userinput .formcontainer.active .signupbox .imgbox {
  top: 0;
}
.userinput .formcontainer .signinbox .formbox {
  top: 0;
}
.userinput .formcontainer.formcontainer.active .signinbox .formbox {
  top: 100%;
}
.userinput .formcontainer .signinbox .imgbox {
  transition: 0.5s ease;
  top: 0;
}
.userinput .formcontainer.formcontainer.active .signinbox .imgbox {
  top: -100%;
}
@media (max-width: 1286px) {
  .userinput .formcontainer .user .formbox h2 {
    font-size: 25px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    clear: both;
  }
  section .formcontainer .user .formbox .signup-policy a,
  section .formcontainer .user .formbox .signup a {
    font-size: 15px;
    font-weight: 550;
  }
}
@media (max-width: 1024px) {
  .userinput.card.formcontainer {
    max-width: 400px;
  }
  .userinput .formcontainer .imgbox {
    display: none;
  }
  .userinput .formcontainer .user .formbox {
    width: 100%;
  }
  .userinput .formcontainer.active .signinbox .formbox {
    top: -100%;
  }
  .userinput .formcontainer .user .formbox h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .userinput .formcontainer {
    width: 105%;
  }
}
@media (max-width: 716px) {
  .userinput .formcontainer .user .formbox h2 {
    font-size: 25px;
  }
  .userinput .formcontainer .user .formbox {
    width: 100%;
  }
}
@media (max-width: 716px) {
  section .formcontainer .user.signupbox .formbox input[type="submit"] {
    display: block;
  }
  .userinput .formcontainer .user .formbox h2,
  .userinput .formcontainer .user .formbox .signin-text {
    font-size: 20px;
  }
  section .formcontainer .user .formbox .signup {
    font-size: 15px;
  }
  section .formcontainer .user .formbox .signup-policy a {
    font-size: 17px;
  }
  section .formcontainer .user .formbox .signup-policy p {
    font-size: 9px;
  }
  section .formcontainer .user .formbox input[type="submit"] {
    font-size: 13px;
    padding: 10px;
  }
}
/* Making Sign In (Login Page) End*/
/* Shoe Showcase (Products Page) Start*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #191919;
  overflow: hidden;
  padding: 100px 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.products-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
}
.products-container .shoe-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px 40px;
  background: rgba(44, 41, 41, 0.2);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
}
.products-container .shoe-card .shoe-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  transition: 0.5s ease-in-out;
}
.products-container .shoe-card:hover .shoe-img {
  transform: translateY(-90px);
}
.products-container .shoe-card .shoe-img img {
  max-width: 100%;
  margin: 0 0 20px;
  transition: 0.5s ease-in-out;
}
.products-container .shoe-card .shoe-img img.adjust {
  margin: 0px;
  content: inherit;
}
.products-container .shoe-card:hover .shoe-img img {
  transform: translate(-15px, -35px) rotate(-20deg) scale(1.4);
}
.products-container .shoe-card .shoe-img h2 {
  color: #fff;
  font-weight: 600;
}
.products-container .shoe-card .shoe-img h2.adjust {
  position: relative;
  bottom: 12px;
}
.products-container .shoe-card .shoe-info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 20px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.products-container .shoe-card:hover .shoe-info {
  opacity: 1;
  visibility: visible;
  transform: translateY(-45px);
}

.products-container .shoe-card .shoe-info .size,
.products-container .shoe-card .shoe-info .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
}
.products-container .shoe-card .shoe-info .size h3,
.products-container .shoe-card .shoe-info .color h3 {
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 10px;
}
.products-container .shoe-card .shoe-info .size span {
  width: 28px;
  height: 25px;
  line-height: 26px;
  display: inline-block;
  color: #111;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 0 6px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s ease;
  cursor: pointer;
}
.products-container .shoe-card .shoe-info .size span:hover,
.products-container .shoe-card .shoe-info a:hover {
  background: #d2042d;
}
.products-container .shoe-card .shoe-info a {
  position: relative;
  display: inline-block;
  color: #111;
  top: 10px;
  padding: 15px 35px;
  background: #fff;
  font-weight: 700;
  border-radius: 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease;
}
@media (max-width: 815px) {
  .products-container .shoe-card {
    width: 250px;
    height: 330px;
  }
}
@media (max-width: 716px) {
  .products-container .shoe-card {
    width: 220px;
    height: 300px;
  }
  .products-container .shoe-card .shoe-img h2 {
    font-weight: 500;
    font-size: 20px;
  }
  .products-container .shoe-card .shoe-info .size span {
    width: 25px;
    height: 24px;
  }
  .products-container .shoe-card .shoe-info .size h3 {
    font-size: 14px;
  }
  .products-container .shoe-card .shoe-info a {
    padding: 10px 30px;
  }
}
@media (max-width: 656px) {
  .products-container .shoe-card {
    width: 200px;
    height: 280px;
  }
  .products-container .shoe-card .shoe-img h2 {
    font-size: 18px;
  }
}
@media (max-width: 616px) {
  .products-container .shoe-card {
    width: 220px;
    height: 260px;
  }
}
/* Shoe Showcase (Products Page) End*/
/* Guidelines (Guidelines Page) Start*/
main .guidelines-container {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
main .guidelines-container div {
  padding-bottom: 30px;
}
main .guidelines-container h1 {
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-decoration: underline #d2042d;
}
main .guidelines-container p {
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 768px) {
  main .guidelines-container h1 {
    font-size: 20px;
  }
  main .guidelines-container p {
    font-size: 16px;
  }
}
/* Guidelines (Guidelines Page) End*/
/* Shopping Cart (Products Page) Start*/
/* Shopping Cart (Products Page) End*/
.cart {
  position: absolute;
  top: 100px;
  right: 40px;
  width: 50px;
  height: 50px;
  color: #d2042d;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}
.cart i {
  font-size: 25px;
  color: #d2042d;
}
.cart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: #d2042d;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}
.cart.shake {
  animation: shakeCart 0.4s ease-in-out forwards;
}
